//about
.home_about {
  width: 100%;
  .about_title {
    margin: $stdm $stdm 0px $stdm;
  }
}
.about_sections {
  @include Flex(center, center, row-reverse);
  .image {
    width: 40%;
    padding: $stdp;
    order: 1;
    img {
      border: 2px solid white;
      border-radius: 0.5rem;
      width: 100%;
    }
  }
  .text_section {
    width: 60%;
  }
  .aboutCardChildren {
    margin: $stdm 0px;
    display: flex;
  }
}

.about_sections:nth-child(odd) {
  background: $secondary;
  flex-direction: row;
  color: black;
}
