@import "./definations.scss";
@import "./icons.scss";
@import "./Header.scss";
@import "./SideNav.scss";
@import "./swiper.scss";
@import "./hero.scss";
@import "./AboutCard.scss";
@import "./home.scss";
@import "./ContactHome.scss";
@import "./Footer.scss";
@import "./spinner.scss";