$bg: #000000;
$rare: #ffd700;
$secondary: #f5f5dc;
$sec-rare: #f0a500;

// #FFD700 
$caption: 12px "Roboto", sans-serif;
$heading: 48px "Roboto", sans-serif;
// fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//css reset
* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
}

body {
  background: $bg;
  color: white;
  font: 16px "Inter", sans-serif;
  letter-spacing: 0.25px;
  overflow-x: hidden;
  height: fit-content;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
  // overflow: hidden !important;
}
@mixin Flex($ai: center, $jc: center, $fd: row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: $heading;
}
.caption {
  font: $caption;
  letter-spacing: 1px;
}

@media (width <= 800px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 32px;
  }
}
.title {
  font: 700 small-caps 24px "Roboto", sans-serif;
}
