.swiper-container {
  width: fit-content;
  @include Flex(center, center, column);
  background: $secondary;
  // margin: 5px;
  border-radius: 0.5rem;
}
.swiper {
  height: 28rem;
  width: 700px;
  margin: 0px;
  border-radius: 0.5rem;
}

.slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-pagination {
  display: flex;
  align-self: flex-end;
  .bullets {
    width: 20px;
    height: 10px;
    background: rgb(0, 0, 0);
    margin:10px;
  }
  .bullet-active {
    background: $rare;
  }
}

@media (width <= 1050px) {
  .swiper {
    width: 500px;
    height: 20rem;
  }
}

@media (width <= 762px) {
  .swiper {
    margin-top: $stdm;
    width: 90vw;
  }
}
