.TeamCard {
  margin: 12px 22px;
  @include Flex(center, center, column);
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 300%;
    margin-bottom: 4px;
  }
}
.TeamData {
  @include Flex(center, start, row);
  flex-wrap: wrap;
  margin: 2rem;
}
@media (width <= 500px) {
  .TeamData{
    justify-content: center;
    .TeamCard{
      img{
        width: 70px;
        height: 70px;
      }
    }
  }
}
